extends layout

block body
	- if (locals.demo)
		div.notice-bar Ceci est un tableau de démonstration. N’y mettez rien d’imortant

	//div.config
	//	i.fa.fa-cog.fa-lg.faded-icon

	div.board-outline
		div#board
			div#board-doodles
			image#marker(src='images/marker.png')
			image#eraser(src='images/eraser.png')


			table#board-table.board-table
				tr
					td#icon-col(width='1%')
						image#add-col.col-icon(width='20', height='20', src='images/icons/iconic/raster/black/plus_alt_32x32.png' alt='Ajouter une colonne')
						image#delete-col.col-icon(width='20', height='20', src='images/icons/iconic/raster/black/minus_alt_32x32.png' alt='Supprimer une colonne')


	div.buttons
		i#create-card.fa.fa-plus-circle.fa-2x.bottom-icon
		i#smallify.fa.fa-expand.fa-2x.bottom-icon


	div.stickers
		div.sticker#sticker-red
		div.sticker#sticker-blue
		div.sticker#sticker-yellow
		div.sticker#sticker-green
		br
		div.sticker#sticker-pink
		div.sticker#sticker-lightblue
		div.sticker#sticker-orange
		div.sticker#sticker-purple
		//div.sticker#sticker-silverstar
		//div#addsticker
		br
		//div.sticker#nosticker
		//br
		div.sticker#sticker-gold
		//	image(src="/images/stickers/sticker-gold.png")
		div.sticker#sticker-bluestar
		//	image(src="/images/stickers/sticker-bluestar.png")
		div.sticker#sticker-silverstar
		//	image(src="/images/stickers/sticker-silverstar.png")
		div.sticker#sticker-redstar
		//	image(src="/images/stickers/sticker-redstar.png")


	div.names
		p connectés :
		//image#user-icon(src="/images/icons/cc/black/png/user_icon&16.png")
		input#yourname-input
		span.you-text (vous)
		ul#names-ul

	//div.trash
	//	i.fa.fa-trash-o.fa-lg.faded-icon
